@import '~antd/dist/antd.css';


.App {
  text-align: center;
}


.input-area{
  position: absolute;
  bottom: 15px;
  width: 100%;

}

.ant-input {
  width: 90%;
  margin-right: 1%;

}

.chat-area{
  padding: 2%;
  box-sizing: border-box;
  /*margin-left: 1%;*/
  /*margin-right: 1%;*/
}